@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    user-select: none;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #392761ff;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display:flex;
    position: fixed;
    z-index: 3;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    background: #392761ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
    padding: 10px 30px;
}

.background {
    background-image: url(/pics/homePics1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:local; 
    background-repeat: no-repeat; 
    height: 100vh;
    padding: 5;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #FBFBFAff;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin: 0 auto 0 200px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FBFBFAff;
    font-weight: bold;
    font-size: large;
    padding: 5px 15px;
}

nav ul li a:hover, nav ul li a.active {
    transform: scale(1.1);
    background: #FBFBFAff;
    color: #392761ff;
    border-radius: 50px;
}


/* Styling for the account */

.profile-icon i{
    font-size: 45px;
    color: #FBFBFAff;
    cursor: pointer;
}
.profile-icon {
    margin: 0 20px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: #392761ff;
}
.user-info {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, 2%);
    padding: 10px 50px;
    background: #EDEDF5;
    border-radius: 25px;
    box-shadow: 0 4px 20px #6a5acd;
}

.user-info img {
    width: 250px;
    margin: 30px 0;
    border-radius: 200px;
    border: 2px solid #392761ff;
    box-shadow: 0 4px 20px #6a5acd;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.business {
    text-decoration: none;
    display: inline-flex;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 20px;
    color: #3E40AEff;
    margin: 0 20px;
}

.business:hover {
    transform: scale(1.1);
    text-decoration:underline;
    color: #3E40AEff;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 15px 50px;
    background: #6a5acd;
    border-radius: 25px;
    text-decoration: none;
    color: #C2C3E2ff;
    font-size: 20px;
    font-weight: bold;
}

.logout:hover {
    background: #3E40AEff;
    color: #FBFBFAff;
    box-shadow: 0 4px 20px #6a5acd;
}




main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #392761ff;
    flex-direction: column;
    padding: 20px;
    margin-top: 0px;
    
}

.container {
    width: 70%;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(194, 195, 226, 0.379);
    margin: 100px 0 50px 0;
}


main h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #392761;
    font-size: 40px;
}

main p {
    text-align: center;
    margin-bottom: 20px;
    color: #3E40AE;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }


    .container {
        width: 90%;
        padding: 20px;
        margin-top: 130px;
    }
    
    header {
        flex-direction: column;
        padding: 15px;
        align-items: center;
        margin-bottom: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
    }

    nav ul {
        flex-direction: row;
        text-align: center;
        gap: 10px;
        margin: 0;
    }

    nav ul li {
        margin: 8px 0;
    }

    .main {
        flex-direction: column;
        text-align: center;
        padding: 40px;
        align-items: center;
    }

    .container {
        width: 95%;
        padding: 20px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        margin-top: 20px;
    }

    .content h2 {
        font-size: 42px;
        margin-bottom: 10px;
    }

    .content p {
        max-width: 95%;
        font-size: 18px;
        line-height: 1.6;
    }
}